@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oxygen+Mono&display=swap');
@import "tailwindcss";

@theme {
    --font-oxygen-mono: "Oxygen Mono", monospace;
    --font-anton: "Anton", sans-serif;
}

.dotted-bg {
  background-image: radial-gradient(circle, #999 1px, transparent 1px);
  background-size: 20px 20px;
}
